<div class="container mt-5">

    <div class="row">
         <div class="col-md-6">
            <div class="box">
                <div class="icon">
                    <a class="icon-link" href="/colaboradorVerAvaliacoes"><i class="fa fa-line-chart" aria-hidden="true"></i></a>
                </div>
                <div class="content">
                    <h2>Avaliações Periódicas</h2>
                    <h5>Consulte as suas avaliações periódicas, dessa forma, fica mais fácil de corrigir e melhorar seu desempenho.
                    </h5>
                </div>
            </div>
        </div>

        <div class="col-md-6 ">
            <div class="box">
                <div class="icon">
                    <a class="icon-link" href="/colaboradorAvaliacoesCurso"><i class="fa fa-graduation-cap" aria-hidden="true"></i></a>
                </div>
                <div class="content">
                    <h2>Avaliações de Cursos</h2>
                    <h5>Visualize as avaliações realizadas em cursos anteriores. Veja também sua frequência diária.
                    </h5>
                </div>
            </div>
        </div>
       
       

</div>