<div class="container mt-5">
    <div class="row">

        <div class="col-md-6">
            <div class="box">
                <div class="icon">
                    <a class="icon-link" href="/visualizarCursoEmAndamento"><i class="fa fa-address-book" aria-hidden="true"></i></a>
                </div>
                <div class="content">
                    <h2>Visualizar Curso em Andamento</h2>
                    <h5>Consulte os cursos que foram agendados para você, visualize a data de inicio e de conclusão , o local e o instrutor.
                    </h5>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="box">
                <div class="icon">
                    <a class="icon-link" href="/visualizarCursoFinalizado"><i class="fa fa-history"
                            aria-hidden="true"></i></a>
                </div>
                <div class="content">
                    <h2>Visualizar Curso Finalizado</h2>
                    <h5>Consulte os cursos que você finalizou,  veja como foi o seu desempenho, suas notas, suas presenças e observações que o instrutor deixou para você.</h5>
                </div>
            </div>
        </div>
        
    </div>

</div>