<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 ">
            <div class="box">
                <div class="icon">
                    <a class="icon-link" href="/visualizarCurso"><i class="fa fa-book" aria-hidden="true"></i></a>
                </div>
                <div class="content">
                    <h2>Visualizar Curso</h2>
                    <h5>Visualize vários cursos, faça alterações e exclusões conforme necessário.
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box">
                <div class="icon">
                    <a class="icon-link" href="/cadastrarCurso"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                </div>
                <div class="content">
                    <h2>Cadastrar Curso</h2>
                    <h5>Precisando de um novo curso? não perca tempo e faça agora um novo cadastro.</h5>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box">
                <div class="icon">
                    <a class="icon-link" href="/sugestoesCursos"><i class="fa fa-commenting" aria-hidden="true"></i></a>
                </div>
                <div class="content">
                    <h2>Visualizar Sugestão</h2>
                    <h5>Vizualize novas sugestões de cursos feitas pelos seus colaboradores.</h5>
                </div>
            </div>
        </div>
    </div>

</div>