<div class="container mt-5">

    <div class="icon mb-5">
        <h3 class="text-center">Gerenciar Colaboradores <i class="fa fa-users" aria-hidden="true"></i></h3>
    </div>

     <div class="row">
      <div class="col-md-6">
            <div class="box">
                <div class="icon">
                    <a class="icon-link" href="/visualizarColaborador"><i class="fa fa-id-badge" aria-hidden="true"></i></a>
                </div>
                <div class="content">
                    <h2>Visualizar Colaboradores</h2>
                    <h5>Visualize todos os colaboradores pertencentes 
                        ao seu setor para edita-los ou remove-los.</h5>
                </div>
            </div>
        </div>
       <div class="col-md-6">
            <div class="box">
                <div class="icon">
                    <a class="icon-link" href="/cadastrarColaborador"><i class="fa fa-user-plus" aria-hidden="true"></i></a>
                </div>
                <div class="content">
                    <h2>Cadastrar colaborador</h2>
                    <h5>Você pode cadastrar um novo colaborador pertencente ao seu setor.</h5>
                </div>
            </div>
        </div>
    
    </div>
</div>