<div class="container mt-5">

    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="icon">
                    <a class="icon-link" href="/avaliarCurso"><i class="fa fa-address-book-o"
                            aria-hidden="true"></i></a>
                </div>
                <div class="content">
                    <h2>Avaliar Curso</h2>
                    <h5>Avalie os seus cursos agendados. Coloque nota e presença para os colaboradores.
                    </h5>
                </div>
            </div>
        </div>

        <div class="col-md-6 ">
            <div class="box">
                <div class="icon">
                    <a class="icon-link" href="/historicoAvaliacaoCurso"><i class="fa fa-history"
                            aria-hidden="true"></i></a>
                </div>
                <div class="content">
                    <h2>Visualizar Cursos Avaliados</h2>
                    <h5>Visualize os cursos que você avaliou, caso necessário você podera realizar modificações.
                    </h5>
                </div>
            </div>
        </div>

    </div>
</div>