<div class="container mt-5">

    
    <div class="row">
        <div class="col-md-6 ">
            <div class="box">
                <div class="icon">
                    <a class="icon-link" href="/gerenciarColaborador"><i class="fa fa-users" aria-hidden="true"></i></a>
                </div>
                <div class="content">
                    <h2>Gerenciar Colaborador</h2>
                    <h5>Gerencie os colaboradores, faça novos cadastros, alterações e exclusões.
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box">
                <div class="icon">
                    <a class="icon-link" href="/gerenciarAgenda"><i class="fa fa-address-book-o"
                            aria-hidden="true"></i></a>
                </div>
                <div class="content">
                    <h2>Gerenciar Agenda</h2>
                    <h5>Gerencie várias agendas, crie, edite e exclua. Visualize as requisições dos seus colaboradores.
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box">
                <div class="icon">
                    <a class="icon-link" href="/gerenciarCurso"><i class="fa fa-book" aria-hidden="true"></i></a>
                </div>
                <div class="content">
                    <h2>Gerenciar Curso</h2>
                    <h5>Gerencie os cursos, cadastre, altere e exclua. Visualize as novas sugestões de cursos.</h5>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box">
                <div class="icon">
                    <a class="icon-link" href="/gerenciarAvaliacao"><i class="fa fa-bar-chart"
                            aria-hidden="true"></i></a>
                </div>
                <div class="content">
                    <h2>Gerenciar Avaliação</h2>
                    <h5>Gerencie as avaliações, avalie os colaboradores, verifique as suas avaliações feitas, veja o
                        desempenho do seu time!
                    </h5>
                </div>
            </div>
        </div>
    </div>

</div>